<config>

	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<start name="platform" caps="150" managing_system="yes">
		<binary name="imx7d_platform"/>
		<resource name="RAM" quantum="1M"/>
		<provides> <service name="Platform"/> </provides>
		<config>
			<policy label="nic -> " info="yes">
				<device name="fec0"/>
				<device name="fec1"/>
			</policy>
		</config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="nic" caps="250">
		<binary name="fec_nic"/>
		<resource name="RAM" quantum="30M"/>
		<route>
			<service name="ROM" label="nic.dtb"> <parent label="fec_nic-imx7d_sabre.dtb"/> </service>
			<service name="Uplink">   <parent/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="RM">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="Platform"> <child name="platform"/> </service>
		</route>
	</start>

</config>
