<config verbose="true">

	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Capture"/>
		<service name="Event"/>
	</parent-provides>

	<default caps="60" ram="1M"/>

	<start name="report_rom">
		<provides> <service name="Report"/> <service name="ROM"/> </provides>
		<config verbose="no">
			<default-policy report="usb -> devices"/>
		</config>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="platform" caps="150" ram="1M" managing_system="yes">
		<binary name="imx8mq_platform"/>
		<provides> <service name="Platform"/> </provides>
		<config>
			<policy label="usb -> " info="yes">
				<device name="usb_host_1"/>
				<device name="usb_phy_1"/>
				<device name="usb_host_2"/>
				<device name="usb_phy_2"/>
			</policy>

			<policy label="fb -> " info="yes">
				<device name="dcss"/>
				<device name="hdmi"/>
				<device name="irqsteer"/>
			</policy>
		</config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="event_filter" caps="80">
		<provides> <service name="Event"/> </provides>
		<route>
			<service name="ROM" label="config"> <parent label="event_filter.config"/> </service>
			<service name="Event"> <parent/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="usb" caps="150" ram="12M">
		<binary name="imx8m_usb_host"/>
		<provides> <service name="Usb"/> </provides>
		<config>
			<report devices="yes"/>
			<policy label_prefix="usb_hid"><device class="0x3"/></policy>
		</config>
		<route>
			<service name="ROM" label="dtb"> <parent label="imx8m_usb_host-imx8q_evk.dtb"/> </service>
			<service name="Report"> <child name="report_rom"/> </service>
			<service name="RM">       <parent/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="Platform"> <child name="platform"/> </service>
		</route>
	</start>

	<start name="usb_hid" caps="140" ram="11M">
		<provides><service name="Input"/></provides>
		<route>
			<service name="ROM" label="report"> <child name="report_rom"/> </service>
			<service name="Event"> <child name="event_filter" label="usb"/> </service>
			<service name="RM">    <parent/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
			<service name="Usb"> <child name="usb"/> </service>
		</route>
	</start>

	<start name="fb" caps="250" ram="40M">
		<binary name="imx8mq_fb"/>
		<route>
			<service name="ROM" label="dtb"> <parent label="imx8mq_fb-imx8q_evk.dtb"/> </service>
			<service name="RM">       <parent/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="Capture">  <parent/> </service>
			<service name="Platform"> <child name="platform"/> </service>
		</route>
	</start>

</config>
