<config>

	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Capture"/>
		<service name="Event"/>
	</parent-provides>

	<start name="report_rom" caps="100" ram="2M">
		<provides> <service name="Report"/> <service name="ROM"/> </provides>
		<config verbose="no">
			<default-policy report="usb -> devices"/>
		</config>
		<route>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="platform" caps="200" ram="3M" managing_system="yes">
		<binary name="imx6q_platform"/>
		<provides> <service name="Platform"/> </provides>
		<config>
			<policy label="usb -> " info="yes">
				<device name="usbotg"/>
				<device name="usbphy1"/>
				<device name="usbphy2"/>
				<device name="usbmisc_imx"/>
				<device name="usbh1"/>
			</policy>
			<policy label="pin -> " info="yes">
				<device name="gpio3"/>
				<device name="gpio7"/>
			</policy>
		</config>
		<route>
			<service name="IRQ">     <parent/> </service>
			<service name="IO_MEM">  <parent/> </service>
			<service name="ROM">     <parent/> </service>
			<service name="PD">      <parent/> </service>
			<service name="CPU">     <parent/> </service>
			<service name="LOG">     <parent/> </service>
		</route>
	</start>

	<start name="pin" caps="150" ram="2M">
		<binary name="imx_pio"/>
		<provides>
			<service name="Pin_state"/>
			<service name="Pin_control"/>
			<service name="IRQ"/>
		</provides>
		<route>
			<service name="Platform"> <child name="platform"/> </service>
			<any-service> <parent/> </any-service>
		</route>
		<config>
			<out name="usb_otg_vbus" bank="0" index="22" default="on"/>
			<out name="usb_h1_vbus"  bank="1" index="12" default="on"/>
		</config>
	</start>

	<start name="event_filter" caps="120" ram="2M">
		<provides> <service name="Event"/> </provides>
		<route>
			<service name="ROM" label="config"> <parent label="event_filter.config"/> </service>
			<service name="Event"> <parent/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="usb" caps="180" ram="20M">
		<binary name="imx_usb_host"/>
		<provides> <service name="Usb"/> </provides>
		<config>
			<report devices="yes"/>
			<policy label_prefix="usb_hid"><device class="0x3"/></policy>
		</config>
		<route>
			<service name="ROM" label="dtb"> <parent label="imx_usb_host-imx6q_sabrelite.dtb"/> </service>
			<service name="Report"> <child name="report_rom"/> </service>
			<service name="ROM">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="RM">     <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="Report"> <parent/> </service>
			<service name="Timer">  <parent/> </service>
			<service name="Platform"> <child name="platform"/> </service>
		</route>
	</start>

	<start name="usb_hid" caps="140" ram="11M">
		<provides><service name="Input"/></provides>
		<route>
			<service name="ROM" label="report"> <child name="report_rom"/> </service>
			<service name="Event"> <child name="event_filter" label="usb"/> </service>
			<service name="RM">    <parent/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
			<service name="Usb"> <child name="usb"/> </service>
		</route>
	</start>

</config>
