<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Report"/>
		<service name="Timer"/>
	</parent-provides>

	<default caps="100"/>

	<service name="Usb">
		<default-policy> <child name="usb"/> </default-policy> </service>

	<start name="black_hole">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="ROM"/> </provides>
		<config> <rom/> </config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="platform" caps="300" managing_system="yes">
		<binary name="imx8mp_platform"/>
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Platform"/> </provides>
		<config>
			<policy label="usb -> " info="yes">
				<device name="usb3_phy0"/>
				<device name="usb3_0"/>
				<device name="usb_dwc3_0"/>
				<device name="usb3_phy1"/>
				<device name="usb3_1"/>
				<device name="usb_dwc3_1"/>
			</policy>
		</config>
		<route>
			<service name="ROM" label="system"> <child name="black_hole"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="usb" caps="200">
		<binary name="imx8m_usb_host"/>
		<resource name="RAM" quantum="16M"/>
		<provides> <service name="Usb"/> </provides>
		<route>
			<service name="ROM" label="dtb">
				<parent label="imx8m_usb_host-mnt_pocket.dtb"/> </service>
			<service name="ROM" label="config">
				<parent label="usb_host.config"/> </service>
			<service name="Platform"> <child name="platform"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>
</config>
