<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Report"/>
		<service name="Timer"/>
	</parent-provides>

	<default caps="100"/>

	<service name="Usb">
		<default-policy> <child name="usb"/> </default-policy> </service>

	<start name="platform" caps="150" managing_system="yes">
		<binary name="imx6q_platform"/>
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Platform"/> </provides>
		<config>
			<policy label="usb -> " info="yes">
				<device name="usbotg"/>
				<device name="usbphy1"/>
				<device name="usbphy2"/>
				<device name="usbmisc_imx"/>
				<device name="usbh1"/>
			</policy>
			<policy label="gpio3 -> " info="yes"> <device name="gpio3"/> </policy>
			<policy label="gpio7 -> " info="yes"> <device name="gpio7"/> </policy>
		</config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="gpio3" caps="150">
		<binary name="imx_gpio"/>
		<resource name="RAM" quantum="2M"/>
		<provides><service name="Gpio"/></provides>
		<route>
			<service name="Platform"> <child name="platform"/> </service>
			<any-service> <parent/> </any-service>
		</route>
		<config>
			<gpio num="22"  mode="O" value="1"/>
		</config>
	</start>

	<start name="gpio7" caps="150">
		<binary name="imx_gpio"/>
		<resource name="RAM" quantum="2M"/>
		<provides><service name="Gpio"/></provides>
		<route>
			<service name="Platform"> <child name="platform"/> </service>
			<any-service> <parent/> </any-service>
		</route>
		<config>
			<gpio num="12" mode="O" value="1"/>
		</config>
	</start>

	<start name="usb" caps="180">
		<binary name="imx_usb_host"/>
		<resource name="RAM" quantum="20M"/>
		<provides> <service name="Usb"/> </provides>
		<route>
			<service name="ROM" label="dtb"> <parent label="imx_usb_host-imx6q_sabrelite.dtb"/> </service>
			<service name="ROM" label="config"> <parent label="usb_host.config"/> </service>
			<service name="ROM">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="RM">     <parent/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="Report"> <parent/> </service>
			<service name="Timer">  <parent/> </service>
			<service name="Platform"> <child name="platform"/> </service>
		</route>
	</start>
</config>
