<config>

	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Capture"/>
	</parent-provides>

	<start name="imx53_platform" caps="200" managing_system="yes">
		<resource name="RAM" quantum="3M"/>
		<provides>
			<service name="Platform"/>
		</provides>
		<config>
			<policy label="imx53_fb -> ">
				<device name="ipu"/>
			</policy>
		</config>
		<route>
			<service name="IRQ">     <parent/> </service>
			<service name="IO_MEM">  <parent/> </service>
			<service name="ROM">     <parent/> </service>
			<service name="PD">      <parent/> </service>
			<service name="CPU">     <parent/> </service>
			<service name="LOG">     <parent/> </service>
		</route>
	</start>

	<start name="imx53_fb" caps="200">
		<resource name="RAM" quantum="6M"/>
		<route>
			<service name="ROM" label="config"> <parent label="fb.config"/> </service>
			<service name="Platform"> <child name="imx53_platform"/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Capture">  <parent/> </service>
		</route>
	</start>

</config>
