<config>
	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Uplink"/>
	</parent-provides>

	<default caps="100"/>

	<start name="platform" caps="150" ram="1M" managing_system="yes">
		<binary name="imx8mq_platform"/>
		<provides> <service name="Platform"/> </provides>
		<config>
			<policy label="nic -> " info="yes">
				<device name="fec"/> </policy>
		</config>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="nic" caps="200" ram="20M">
		<binary name="fec_nic"/>
		<route>
			<service name="ROM" label="nic.dtb"> <parent label="fec_nic-imx8q_evk.dtb"/> </service>
			<service name="ROM">      <parent/> </service>
			<service name="PD">       <parent/> </service>
			<service name="RM">       <parent/> </service>
			<service name="CPU">      <parent/> </service>
			<service name="LOG">      <parent/> </service>
			<service name="Timer">    <parent/> </service>
			<service name="Uplink">   <parent/> </service>
			<service name="Platform"> <child name="platform"/> </service>
		</route>
	</start>
</config>
